{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "corejs": { "version": "3.8", "proposals": true },
        "useBuiltIns": "usage"
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": ["babel-plugin-styled-components"]
}
