.input {
    position: relative;
}

.input-label label {
    color: white !important;
}

.button{
    display: flex;
    justify-content: center;
}
.arrow {
    top: 0;
    right: 10px;
    bottom: 0;
    position: absolute;
    cursor: pointer;
    margin: auto;
    display: flex;
}
