.with-icon {
  &.small {
    input {
      padding-left: 6.5rem;
    }
    .icon {
      position: absolute;
      left: 2rem;
      margin: auto;
      top: 0;
      bottom: 0;
      width: 3rem;
    }
  }
  .arrow {
    &.small {
      width: 1rem;
      right: 2rem;
    }
    top: 0;
    bottom: 0;
    position: absolute;
    cursor: pointer;
    margin: auto;
    display: flex;
  }
}
.input-arrow {
  position: relative;
  background-color: rgba($color: #e5e5e5, $alpha: 0.2);
}
