.input-arrow {
    position: relative;
    background-color: rgba($color: #e5e5e5, $alpha: 0.2);
    .button {
        display: flex;
        justify-content: center;
    }
    .arrow {
        &.small {
            width: 1rem;
            right: 2rem;
        }
        top: 0;
        bottom: 0;
        position: absolute;
        cursor: pointer;
        margin: auto;
        display: flex;
    }
}
