//in order to cover underlying input cursor
//todo why content not work
// .to::before {
//   cursor: default;
//   pointer-events: none;
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
// }
.container {
  &::before {
    content: '';
  }
  position: relative;

  .arrow {
    top: 0;
    bottom: 0;
    position: absolute;
    cursor: pointer;
    margin: auto;
    display: flex;
    &.small {
      width: 1rem;
      right: 2rem;
    }
    &.large {
      width: 1.75rem;
      right: 1.5rem;
    }
  }

  .question {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;

    &.small {
      width: 2.25rem;
    }
    &.large {
      width: 1.25rem;
    }
  }
}

.with-icon {
  .icon {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
  }

  .c-icon {
    position: absolute;
  }

  &.small {
    input {
      font-size: 2rem;
      padding-left: 6.5rem;
    }
    .icon {
      left: 2rem;
      width: 3rem;
    }
    .c-icon {
      top: 51%;
      left: 4rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  &.large {
    input {
      font-size: 1.25rem;
      padding-left: 4.5rem;
    }
    .icon {
      left: 1.625rem;
      width: 2rem;
    }
    .c-icon {
      top: 51%;
      left: 3rem;
      width: 1rem;
      height: 1rem;
    }
  }
}
