//navigtion root
.nav {
  display: flex;
  &.small {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    justify-content: space-around;
    height: 8.5rem;
    border-bottom: 1px solid #979797;
    .item {
      display: flex;
      align-items: center;
    }
    .item a {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 6.4rem;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      img {
        width: 3rem;
      }
    }
    .active {
      color: #44d7b6;
    }
  }
  &.large {
    justify-content: space-around;
    padding-top: 1rem;
    height: 5.25rem;
    margin-bottom: 2.125rem;
    border-bottom: 1px solid #979797;
    .item {
      display: flex;
      align-items: center;
    }

    .item a {
      display: flex;
      align-items: center;
      width: 6.4rem;
      justify-content: space-between;
      font-size: 1.25rem;
      img {
        width: 1.75rem;
      }
    }
    .active {
      color: #44d7b6;
      border-bottom: solid 3px #44d7b6;
    }
  }
}

//content root

.root {
  &.small {
    margin-top: 2.5rem;
  }
}

.title {
  color: white;
  display: flex;
  &.small {
    font-size: 2rem;
    img {
      width: 2.25rem;
      margin-left: 1rem;
      cursor: pointer;
    }
  }
  &.large {
    font-size: 1.25rem;
    img {
      width: 1.3125rem;
      margin-left: 1rem;
      cursor: pointer;
    }
  }
}

.small-text {
  color: rgba($color: white, $alpha: 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  img {
    cursor: pointer;
  }
  &.small {
    font-size: 1.5rem;
    img {
      width: 2.25rem;
      margin-left: 1rem;
    }
  }
  &.small {
    font-size: 1rem;
    img {
      width: 0.75rem;
      margin-left: 1rem;
    }
  }
}

.arrow {
  &.small {
    width: 1rem;
    right: 2rem;
  }
  &.large {
    width: 0.75rem;
    right: 2.0625rem;
  }
  top: 0;
  bottom: 0;
  position: absolute;
  cursor: pointer;
  margin: auto;
  display: flex;
}

.down {
  &.small {
    height: 5.5rem;
    img {
      width: 1.5rem;
    }
  }
  &.large {
    height: 3.75rem;
    img {
      width: 0.75rem;
    }
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

.with-icon {
  input {
    font-weight: bold;
  }

  .icon {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
  }

  &.small {
    input {
      font-size: 2rem;
      padding-left: 6.5rem;
    }
    .icon {
      left: 2rem;

      width: 3rem;
    }
  }
  &.large {
    input {
      font-size: 1.25rem;
      padding-left: 4.5rem;
    }
    .icon {
      left: 1.625rem;
      width: 2rem;
    }
  }
}
.input-arrow {
  position: relative;
}
