.txt {
  color: rgba($color: #ffffff, $alpha: 0.6);
  margin-bottom: 0.5rem;
  font-size: 1rem;
  &.small {
    font-size: 1.5rem;
  }
}
.container {
  position: relative;
  display: flex;
  .left {
    display: flex;
    align-items: center;
    .placeholder {
      color: rgba(255, 255, 255, 0.4);
      pointer-events: none;
    }

    .symbol {
      font-weight: bold;
      &.large {
        margin-left: 1rem;
      }
      &.small {
        margin-left: 1rem;
      }
    }
  }

  .arrow {
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
    display: flex;
    &.small {
      width: 2.5rem;
      right: 2rem;
    }
    &.large {
      width: 1.75rem;
      right: 1.5rem;
    }
  }
}
