.container {
  position: relative;
  display: flex;
  cursor: pointer;

  .left {
    display: flex;
    align-items: center;
    .placeholder {
      font-weight: 400;
      color: rgba(255, 255, 255, 0.4);
      pointer-events: none;
    }

    .symbol {
      font-weight: bold;
      &.large {
        margin-left: 1rem;
      }
    }

    .question-area {
      height: 100%;
      display: flex;
      &.large {
        width: 4rem;
      }
      .question {
        &.large {
          width: 1.25rem;
        }
      }
    }
  }

  .arrow {
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
    display: flex;
    &.small {
      width: 1rem;
      right: 2rem;
    }
    &.large {
      width: 1.75rem;
      right: 1.5rem;
    }
  }
}
