.btn-container {
  &.small {
    margin-bottom: 2rem;
    .btn {
      margin-top: 3rem;
      width: 90%;
    }
  }
  &.large {
    .btn {
      height: 4.5rem;
      margin-top: 1rem;
      width: 100%;
    }
  }
}
