.nav-container {
    display: flex;
    justify-content: space-between;
    .back {
        cursor: pointer;
        &.small {
            width: 1rem;
        }
    }
    .nav-tabs {
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
        .item {
            font-weight: 500;
            color: rgba(255, 255, 255, 0.4);
        }
        .active {
            &.small {
                font-size: 2rem;   
            }
            border-bottom: solid 2px #44d7b6;
            color: #44d7b6;
        }
    }
}
