.nav-container {
  display: flex;
  justify-content: space-between;
  .back {
    cursor: pointer;
    &.small {
      width: 1rem;
    }
    &.large {
      width: 1rem;
      position: relative;
      top: 0.5rem; //offset the padding effect
    }
  }
  .nav-tabs {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;

    &.large {
      font-size: 1.25rem;
      line-height: 5.25rem;
      padding-top: 1rem;
    }
    .item {
      font-weight: 500;
      color: rgba(255, 255, 255, 0.4);
    }
    .active {
      border-bottom: solid 2px #44d7b6;
      color: #44d7b6;
    }
  }
}
