.container {
    &.small {
        margin-top: 4rem;
    }
}
.down {
    &.small {
        height: 5.5rem;
        img {
            width: 1.5rem;
        }
    }
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin-top: 6.25rem;
    margin-bottom: 2rem;
    color: white;
    font-size: 2rem;
}
