.container {
  &.small {
    margin-top: 5.75rem;
  }
}

.small-text {
  display: flex;
  justify-content: space-between;
  &.small {
    margin-top: 1.75rem;
    img {
      width: 2.25rem;
      margin-left: 1rem;
    }
  }
}
