.input-common {
  width: 100%;
  background-color: rgba(229, 229, 229, 0.2);
  color: white;
  border: none;
  &.small {
    height: 6.25rem;
    padding-left: 2rem;
  }

  &:focus {
    box-shadow: none;
    outline: none;
  }
  &::placeholder {
    font-weight: 500;
    color: rgba($color: #ffffff, $alpha: 0.4);
  }
}
