.container {
    .input-container {
        position: relative;

        &.small {
            input {
                padding-left: 4.75rem;
            }
            img {
                width: 2rem;
            }
        }

        img {
            position: absolute;
            left: 1rem;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
    .title {
        color: #999999;
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }
    .frequent-container {
        justify-content: space-between;
        display: flex;
        margin-bottom: 4.17rem;
        .frequent {
            cursor: pointer;
            padding: 0 1.83rem;
            font-size: 1.25rem;
            color: white;
            height: 2.25rem;
            display: flex;
            border-radius: 1.125rem;
            align-items: center;
            background: rgba($color: #f8f8f8, $alpha: 0.2);
        }
    }
}
