.title {
  &.small {
    font-size: 1.875rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
  &.large {
    font-size: 1.125rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  color: #999999;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
