.title {
  &.small {
    font-size: 1.875rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
  &.large {
    font-size: 1.125rem;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
  }
  color: #999999;
  font-weight: 500;
}


