.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.125rem;
  line-height: 5rem;
  height: 5rem;
  color: white;
  z-index: 2;
  background-color: rgba($color: #000000, $alpha: 0.6);
  margin-bottom: 2.5rem;
  position: relative;
  .logo {
    max-height: 2.5rem;
    margin-left: 3.5rem;
    cursor: pointer;
  }
  .select {
    padding: 0 !important;
    border-radius: 1em !important;
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
    background: transparent !important;
    margin-right: 3.5rem /* 56/16 */;
  }
  .right {
    display: flex;
    align-items: center;
    font-weight: bold;

    .item {
      cursor: pointer;
      white-space: nowrap;
      margin: 0 1rem;
    }
    .active {
      color: #44d7b6;
      border-bottom: solid 2px #44d7b6;
    }
    .lng {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      margin-left: 1rem;
      align-items: center;
      height: 2.5rem;
      border-radius: 2.25rem;
      text-align: center;
      line-height: 2.5rem;
      border: 1px solid rgba(255, 255, 255, 0.5);

      margin-right: 2rem;
      padding: 1.5rem;

      .up {
        width: 0.65rem;
        height: 0.56rem;
        margin-left: 0.5rem;
        transform: rotate(180deg);
      }
    }
    .dropdown-container {
      color: #333333;
      width: 8.75rem;
      background-color: white;
      border-radius: 0px 0px 0.25rem 0.25rem;
      overflow: hidden;

      .lng-item {
        padding-left: 1rem;
        line-height: 2.5rem;
        font-size: 1rem;
        z-index: 2;
        cursor: pointer;
      }
      .selected {
        position: relative;
        color: white;
        background: #44d7b6;
      }

      .selected::after {
        content: url(./tick.svg);
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 1.5rem;
        width: 1.5rem;
        right: 1rem;
      }
    }
  }
}

.captain {
  display: flex;
  align-items: center;
  .pocket {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }
}
