$padding: 2rem;

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 2rem 0;
  justify-content: space-between;
  align-items: center;
  line-height: 3.625rem;

  //address
  font-size: 1.5rem;
  color: white;

  .ham {
    cursor: pointer;
    width: 2.5rem;
    margin-left: 2.75rem;
  }
}

.top-level {
  display: flex;
  .right {
    display: flex;
    align-items: center;
  }
  a {
    display: flex;
    .logo {
      width: 17.5rem;
      height: auto;
    }
  }
}

.enter {
  transform: scaleY(0.1);
  // transform: translateY(-200px);
}
.enterActive {
  transform: scaleY(1);
  // transform: translateY(0px);
}
.enterDone {
  transform: scaleY(1);
  // transform: translateY(0px);
}
.exitActive {
  transform: scaleY(0.1);
}

.dropdown {
  z-index: 2;
  position: absolute;
  width: 100%;
  color: white;
  background-color: black;
  transition: 0.2s;
  transform-origin: top;

  .item {
    height: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: solid 1px rgba($color: #ffffff, $alpha: 0.2);
    cursor: pointer;
  }

  .up {
    position: absolute;
    right: 1rem;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .lngOpen {
    transform: rotate(180deg);
  }

  .lng-item {
    font-size: 1.75rem;
    background-color: rgba($color: #f8f8f8, $alpha: 0.1);
  }
}
