.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.125rem;
  line-height: 5rem;
  height: 5rem;

  color: white;
  img {
    max-height: 2.5rem;
    margin-left: 3.5rem;
  }
  .select {
    padding: 0 !important;
    border-radius: 1em !important;
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
    background: transparent !important;
    margin-right: 3.5rem /* 56/16 */;
  }
  .right {
    display: flex;
    align-items: center;
    span,
    a {
      white-space: nowrap;
      display: block;
      margin: 0 1.5625rem;
      font-weight: bold;
    }
  }
}

.main {
  margin: auto;
  border-radius: 0.5rem;
  padding: 0 2rem;
  width: 544px;
  max-height: calc(100vh - 10rem);
  overflow: scroll;
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
}
